.cv-photo {
    width: 170px;
    height: 200px;
}
.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
}
.main-page-one {
    flex-basis: 50%;
}
.main-page-two {
    flex-basis: 50%;
}
.main-page-txt {
    text-align: center;
    font-size: 20px;
}
.about-list {
    list-style: none;
}
.skills-list {
    list-style: none;
}
.about-page {
    height: 400px;
}
.skills-page {
    height: 400px;
}